// Specific CSS for your home-page
#home {
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  #home {
    background-image: url(/assets/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
  }
}
