// Specific CSS for your home-page
#home {
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  animation: zoomBackground 8s ease-in-out infinite;
}

@media (max-width: 768px) {
  #home {
    background-image: url(/assets/background-2.jpg);
    background-size: 130%;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
    animation: zoomBackground2 12s ease-in-out 1;
  }
}

@keyframes zoomBackground {
  0% {
    background-size: 100%; /* Initial size */
  }
  50% {
    background-size: 130%; /* Zoom in */
  }
  100% {
    background-size: 100%; /* Back to original size */
  }
}
