<% if notice %>
  <div class="flash flash-success alert alert-dismissible fade show" style="color: white;" role="alert">
    <span><strong>Yay!</strong> <%= notice %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times" style="color: red;"></i>
    </a>
  </div>
<% end %>
<% if alert %>
  <div class="flash flash-danger alert alert-dismissible fade show" style="color: white;" role="alert">
    <span><strong>Oops!</strong> 😱 <%= alert %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times" style="color: red;"></i>
    </a>
  </div>
<% end %>
