<section class="cv-banner">
  <%= render "shared/navbar" %>
  <div id="cv-index" class="container" data-controller="menu-collapse">
    <button id="menu-icon" class="menu-icon" data-action="menu-collapse#toggleMenu">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div id="menu-links" class="about-links" data-menu-collapse-target="links">
      <a id="profile-button" class="about-button">Profile</a>
      <a id="projects-button" class="about-button">Projects</a>
      <a id="experience-button" class="about-button">Experience</a>
      <a id="education-button" class="about-button">Education</a>
      <a id="contact-button" class="about-button">Contact</a>
    </div>
    <div class="about-contents" data-menu-target="contents">
      <h3>🧔‍♂️ About me</h3>
      <section class="orange-strip">
      </section>
      <p>
        Mechanical Engineer with recent
        training in Fullstack development,
        accomplished through a 9-week
        program at Le Wagon. With hands-on
        experience gained from a project
        focused on enhancing the workout
        experience for sports enthusiasts, I have
        refined my new set of skills. This
        combination of prior experience and
        recent achievements has enriched my
        knowledge, enabling me to deliver
        dynamic and efficient solutions when
        collaborating with fellow developers. I'm
        enthusiastic about working together to
        create innovative and dynamic
        solutions.
      </p>
      <h3>🥷 Skills</h3>
      <section class="orange-strip">
      </section>
      <p>
        <a href="https://www.ruby-lang.org/en/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="50" height="50"/>
        </a>
        <a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="50" height="50"/>
        </a>
        <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="50" height="50"/>
        </a>
        <a href="https://www.figma.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="50" height="50"/>
        </a>
        <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="50" height="50"/>
        </a>
        <a href="https://heroku.com" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku" width="50" height="50"/>
        </a>
        <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="50" height="50"/>
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="50" height="50"/>
        </a>
        <a href="https://www.postgresql.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="50" height="50"/>
        </a>
        <a href="https://rubyonrails.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="50" height="50"/>
        </a>
        <a href="https://react.dev/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="React" width="50" height="50" />
        </a>
        <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg" alt="TypeScript" width="50" height="50" />
        </a>
        <a href="https://sass-lang.com/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="SASS" width="50" height="50" />
        </a>
      </p>
    </div>
  </div>
</section>
