<div id="home">
  <%= render "shared/navbar" %>
  <section id="profile">
    <h1>Klevion Xhoxhaj</h1>
    <div class="profile-picture"></div>
    <p>Full-Stack Web Developer</p>
    <section class="social-links">
      <%= link_to("https://www.instagram.com/klevion_xhoxhaj/", class:"social-link",  target: "_blank") do %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
      <%= link_to("https://github.com/kxhoxhaj", class:"social-link",  target: "_blank") do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
      <%= link_to("https://www.linkedin.com/in/k-xh/", class:"social-link",  target: "_blank") do %>
        <i class="fa-brands fa-linkedin-in"></i>
      <% end %>
    </section>
  </section>
</div>
