.review-banner{
  background-image: asset-url("review-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2rem;
  animation: shiftBottomBackground 12s ease-in-out 1;
}

@media (max-width: 768px) {
  .review-banner {
    background-position: right;
    background-attachment: fixed;
    padding-bottom: 1.5rem;
    animation: shiftSideBackground 15s ease-in-out 1;
  }
}

@keyframes shiftBottomBackground {
  0% {
    background-position: top; /* Initial background-position */
  }
  50% {
    background-position: bottom; /* Bottom positon */
  }
  100% {
    background-position: top; /* Back to original postion */
  }
}

@keyframes shiftSideBackground {
  0% {
    background-position: left; /* Initial background-position */
  }
  50% {
    background-position: right; /* Right position */
  }
  100% {
    background-position: left; /* Back to original position */
  }
}


#review-index{
  width: 50%;
  padding: 0;
}

.review-div{
  padding: 0;
}

.review-card{
  background-color: $light-color;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  transition: all 0.7s ease;
}


.user-initials{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $app-color;
  margin-right: 1rem;
  transition: 0.7s;
  p{
    color: $light-color;
    margin-bottom: 0;
  }
}

.review-card:hover{
  border: 1px solid;
  border-color: $button-color;
  background-color: $light-color;
  box-shadow: $button-color 0px 5px 15px;
  border-radius: 16px;
  padding-top: 1.5rem;
  transition: 0.7s;
  transform: scale(1.02);

  .user-initials{
    min-width: 40px;
    height: 40px;
    box-shadow: $app-color 0px 2px 5px;
    transition: 0.7s ease;
  }
}

.rating-star{
  display: flex;
  justify-content: end;
  margin-bottom: 0;
  .svg-star{
    padding: 1px;
  }
}



.reviews-list{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.review-header{
  display: flex;
  align-items: center;
}

.review-content{
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #review-index {
    width:100%;
  }
}
