.alert {
  color: white;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88 !important;
}

.flash-warning {
  border: 2px solid #FFC65A !important;
}

.flash-danger {
  border: 2px solid #FD1015 !important;
}

.alert.flash-success {
  color: white;
  border-color: #1EDD88;
}

.alert.flash-danger {
  color: white;
  border-color: #FD1015;
}

.alert.flash-warning {
  color: white;
  border-color: #FFC65A;
}
