.navbar {
  width: 100%;
  justify-content: end;
  background: transparent;

  .nav-link {
    font-size: 18px;
    color: $light-color;
  }

  .nav-link:hover {
    color: $button-color;
  }

  .navbar-toggler {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
    color: $light-color;
    border-radius: 16px;
    border: 1px solid $light-color;
    padding: 1rem;
    width: 55px;
    height: 55px;
  }

  .navbar-toggler:active {
    color: $button-color;
    border-radius: 50%;
    border: 1px solid $button-color;
    padding: 1rem;
  }
}
