.navbar {
  width: 100%;
  justify-content: end;
  background: transparent;

  .nav-link {
    text-shadow: 1px 1px 8px $light-color;
    font-size: 18px;
    color: $light-color;
    transition: transform 1s ease;
  }

  .nav-link:hover {
    color: $button-color;
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    transform: scale(1.3);
    transition: transform 1s ease, margin-right 1s ease, margin-top 1s ease;
  }

  .navbar-toggler {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0;
    color: $light-color;
    border-radius: 16px;
    border: 1px solid $light-color;
    padding: 1rem;
    width: 55px;
    height: 55px;
  }

  .navbar-toggler:active {
    color: $button-color;
    border-radius: 50%;
    border: 1px solid $button-color;
    padding: 1rem;
  }
}
