.about-links {
  display: flex;
  flex-direction: row;

  .about-button {
    text-decoration: none;
    text-shadow: 1px 1px 10px $light-color;
    background-color: transparent;
    font-size: 18px;
    color: $light-color;
    border-radius: 12px;
    margin-left: 0rem;
    margin-right: 1rem;
    transition: transform 1s ease, margin-left 1s ease, margin-top 1s ease;
  }

  .about-button:hover {
    color: $button-color;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    transform: scale(1.2);
    margin-right: 1.8rem;
    transition: transform 1s ease,margin-right 1s ease, margin-left 1s ease, margin-top 1s ease;
    border: 0;
  }

  .about-button.active {
    color: $button-color;
    margin-top: 0.1rem;
    margin-left: 1rem;
    transform: scale(1.2);
    margin-right: 1.8rem;
    border: 0;
  }
}

@media (max-width: 768px) {
  .about-links {
    flex-direction: column;
    padding: 1rem;

    .about-button{
      margin-bottom: 1rem;
    }

    .about-button.active {
      margin-left: 2rem;
    }
  }

  .about-links.active {
    display: flex;
    .about-button:hover {
      margin-top: 0.1rem;
      margin-left: 2rem;
      transform: scale(1.2);
      transition: transform 1s ease, margin-left 1s ease, margin-top 1s ease;
      border: 0;
    }
  }

  .about-contents {
    transition: margin-top 0.3s ease-in-out;
  }

}

@media (min-width: 769px) {

  .about-links {
    display: flex; /* Ensure menu is always visible on desktop */
    margin: 1rem 0;
  }
}
