@import "about_links";
@import "about_contents";
@import "about_languages";

#cv-index{

  b{
    font-size: 20px;
  }
}

.cv-banner{
  background-image: url(/assets/cv.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2rem;
  animation: zoomBackground2 10s ease-in-out 1;
}

@media (max-width: 768px) {
  .cv-banner{
    background-image: url(/assets/cv-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 2rem;
    animation: none;
  }
}

@keyframes zoomBackground2 {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 130%;
  }
}

@keyframes zoomOutBackground {
  0% {
    background-size: 140%;
  }
  100% {
    background-size: 110%;
  }
}
